# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*

# Build directories
build/
dist/
public/
out/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor configurations
.vscode/
.idea/
*.suo
*.user

# Temporary files
*.tmp
*.swp
*.bak
